* {
  box-sizing: border-box;
  font-family: sans-serif;
  /* border: solid red 1px; */
}

body {
  background-color: lavender;
}

img {
  border-radius: 10px;
}

article {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

h2 {
  text-transform: uppercase;
}

.invite {
  font-size: 1.2rem;
}

.account {
  color: rgb(100, 123, 153);
}

button {
  background-color: white;
  border: none;
  color: rgb(59, 184, 226);
}
